
@font-face {
    font-family: 'arcade';
    src: url('arcade.woff2') format('woff2'),
         url('arcade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


:root {
  /* Variables */
  --color-bg: black;
  --color-primary: #17EA30;
  --color-off-canvas: #111;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  width: 100%;
  background-color: var(--color-off-canvas);
  font-family: sans-serif;
  color: white;
  font-size: 20px;
}

#main{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  background-color: var(--color-off-canvas);

}

#main-container{
  position: absolute;
  width: 100%; /* JS will scale to 1200px */
  height: 100%;
}

#main-container:after {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  box-shadow: inset 0px 0px 200px black;

  pointer-events: none;
}

#canvas {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

#btn-fullscreen{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  text-decoration: none;
  display: inline-block;
  z-index: 1;
  width: 66px;
  height: 66px;
  padding: 0px;
  fill: var(--color-primary);
}

#speed{
  color: var(--color-primary);
  position: absolute;
  top: 15px;
  left: 15px;
  font-family: arcade;
  font-size: 50px;
}

#distance{
  position: absolute;
  top: 15px;
  left: 150px;
}

#visualoverlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.5;
  z-index: 9;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(3px);
  background-image: url('scanlines.svg');
  background-size: 18px 18px;
}

#start-screen,
#end-screen{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  color: var(--color-primary);
  box-sizing: border-box;
  text-align: center;
}


#start-screen{
  background-color: var(--color-bg);
}

#grid-contain{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#grid-3d{
  width: 100%;
  height: 100%;
  transform: perspective(400px) rotateX(82deg);
}

#start-title{
  position: absolute;
  width: 60%;
  right: 5%;
  top: 50%;
  margin-top: -20%;
  font-family: arcade;
  font-size: 150px;
  text-transform: uppercase;
  line-height: 1em;
}

#btn-start{
  position: absolute;
  margin: 0px;
  top: 50%;
  margin-top: 10%;
  margin-left: 40%;
  right: 15%;
  width: 40%;
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;

  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: bold;

} 

#game-icon {
  fill: var(--color-primary);
  position: absolute;
  top: 25%;
  left: 10%;
  width: 30%;
  height: 50%;
}


#end-screen{
 display: none;
}

#end-screen .overlay{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  opacity: 0.8;
}

.guage{
  width: 600px;
  height: 600px;
  position: absolute;
  top:50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -350px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guage-title{
  color: var(--color-primary);
  font-family: 'Montserrat';
  font-size: 44px;
  font-weight: bold;
  font-style: italic;
}

#guage-reading{
  color: var(--color-primary);
  font-family: 'Montserrat';
  font-size: 180px;
  font-weight: bold;
  font-style: italic;
}

.guage-graphic{
  position: absolute;
  width: 100%;
  height: 100%;
}


#btn-restart{
  background-color: var(--color-primary);
  color: var(--color-bg);
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;

  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: bold;
  font-style: italic;

  position: absolute;
  top:50%;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  margin-top: 200px;
}
