html, body {
  margin: 0;
  padding: 0;
}
canvas{
  width: 100%;
}

.buttongrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 60px;
  gap: 10px;
}

.button {
  background-color: rgba(0,0,0,0.9);
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
}

